#root {
  width: 100%;
}

.active-nav {
background-color: #111;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}



.nav a {
  font-size: 14px;
}



.nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav a:hover {
  background-color: #111;
}




/* .container {
  /* text-align: center; */
/* position: absolute;
  top: 100px;
  width: 25%;
  display: block;
  padding: 20px 50px; */
/* border: 2px solid black; */

/* } */

/* .container-right {
  position: absolute;
  top: 120px;
  right: 100px;
  width: 50%; */

/* } */





.box {
  padding: 25px 1px;
}


.featureCard {
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  /* border: 2px solid black; */
}

.latestCard {

  display: flex;
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  /* border: 2px solid black; */
}

.card1 {
  background: white;
  padding: 20px 25px;
  /* border: 2px solid black; */
}




img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}


.main-page-container {
  max-width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
}

.content {
  display: flex;
}

.blogsContainer {
  padding: 20px 50px;
  /* position: absolute; */
  /* top: 50px;
  left: 50px;
  width: 80%; */
  display: block;
}


.homeContainerleft {
  /* position: absolute;
  top: 50px;
  width: 25%;
  left: 100px; */
  flex: 1;
  display: block;
  margin-right: 60px;
}

.homeContainerright {
  /* position: absolute;
  top: 70px;
  right: 100px;
  width: 50%; */
  flex: 2

}


.blockDetails {
  padding: 20px 50px;
  position: absolute;
  top: 50px;
  left: 200px;
  width: 60%;
  display: block;
  text-align: justify;
}


.imgdetails {
  width: 100%;
  left: 50px;
  height: 300px;
}